name: 'PR: compile, test and check style'

on:
  pull_request:
    branches: [ master ]

jobs:
  build-and-check:
    name: 'Compile, execute all tests, check code style'
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v2
    - name: 'Set up JDK 11'
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: 'Grant execute permission for gradlew'
      run: chmod +x lisa-core/gradlew
    - name: 'Gradle: full build, run all tests and check code style'
      run: cd lisa-core && ./gradlew build cron checkCodeStyle
    - name: 'Publish unit test results'
      uses: EnricoMi/publish-unit-test-result-action@v1.6
      if: always()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        check_name: 'All Test Results (unit + cron)'
        files: lisa-core/build/test-results/**/TEST-*.xml
