name: "Release publishing"

on:
  release:
    types: [published]

jobs:
  publish-release:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: "Set up JDK 11"
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: "Grant execute permission for gradlew"
        run: chmod +x lisa/gradlew
      - name: "Gradle: build and publish"
        env:
          SIGN_PW: ${{ secrets.SIGN_PASSPHRASE }}
          SIGN_KEY: ${{ secrets.SIGN_PRIVATE_KEY }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_PORTAL_USER }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PORTAL_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cd lisa && ./gradlew publishAllPublicationsToOSSRHRepository
      - name: Finalize Publication to Maven Central
        run: |
          # Send the POST request to the Staging API for automatic release
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.MAVEN_PORTA_B64_TOKEN }}" \
            "https://ossrh-staging-api.central.sonatype.com"
